/.vscode
/234130K-B23_Sem02.pdf
/546545646.c
/546545646.exe
/78979797.c
/78979797.exe
/app.py
/build
/bus.c
/bus.exe
/bus.o
/c++.cpp
/c++.exe
/client.txt
/clientt.py
/hell.c
/hell.exe
/Interim_Report_IT18.pdf
/L1.c
/L1.exe
/result0.txt
/result1.txt
/result2.txt
/result3.txt
/result4.txt
/sdc.c
/sdc.exe
/Seat booking.txt
/serverr.py
/Student details.txt
/Student.py
/tempCodeRunnerFile.c
/tempCodeRunnerFile.exe
/tempCodeRunnerFile.py
/test.txt
/Tÿa
/U4ntitled-1.c
/U4ntitled-1.exe
/Un444titled-1.c
/Un444titled-1.exe
/Untitled-1.c
/Untitled-1.exe
/Untitled-1.py
/Untitled-1.txt
/Untitled-11.c
/Untitled-16464.py
/Untitljed-1.c
/Untitljed-1.exe
/uu.c
/__pycache__